<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mongo Integration Demo</title>
        <link rel=stylesheet type=text/css href="{{url_for ('static', filename='base_style.css')}}">
    </head>

    <body>
        
        {%- block topbar -%}
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <h2>
                        <a href="/login" class="brand">Login</a>
                    </h2>
                </div>
            </div>
        </div>
        {%- endblock -%}
        
 
        <div class="container">
            <div class="content">
                {% block page_header %}{% endblock %}
                {% content %}{% endblock %}
            </div>
        </div>
        {% block js_footer %}{% endblock %}
    </body>
</html>
